.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Global styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.traffic-light {
  width: 100px;
  height: 250px;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #555;
  transition: background-color 0.3s ease;
}

.red.active {
  background-color: red;
}

.yellow.active {
  background-color: yellow;
}

.green.active {
  background-color: green;
}


/* Basic styling for the TodoApp */
.todo-app {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Header Styling */
.header {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Input and Button Container */
.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Styling for input field */
.todo-input {
  width: 75%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Styling for Add Button */
.add-button {
  width: 20%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

/* Todo List Styling */
.todo-list {
  list-style-type: none;
  padding: 0;
}

/* Individual Todo Item Styling */
.todo-item {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px 0;
  font-size: 1.1rem;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Delete Button Styling */
.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #d32f2f;
}
